DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=weekly_feedback
POSTGRES_USER=weekly_feedback
POSTGRES_PASSWORD=weekly_feedback
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_TEST_DB=test_weekly_feedback
